<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <!-- Use the default logger if this profile is enabled -->
    <springProfile name="plain-text-logging">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <!-- Use the JSON logger by default -->
    <springProfile name="!plain-text-logging">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <!-- Add custom fields to the JSON -->
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>${maxDepthPerThrowable}</maxDepthPerThrowable>
                    <maxLength>${exceptionMaxLength}</maxLength>
                    <shortenedClassNameLength>20</shortenedClassNameLength>
                    <exclude>sun\.reflect\..*\.invoke.*</exclude>
                    <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                    <rootCauseFirst>true</rootCauseFirst>
                    <inlineHash>true</inlineHash>
                </throwableConverter>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>